bin/*
obj/*
cookies/*
output/*
*.user
*.suo
*.cache
*.log
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.backup
*.tmp
*.swp
*.sln.docstates
*.ncb
*.sdf
output/vsvcarriers.com/llms.txt
output/vsvcarriers.com/manifest.json
